<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Que manger aujourd'hui ?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid *ngIf="meals">
    <ion-row>
      <ion-col 
        [routerLink]="'/meal/' + meal.idMeal"
        *ngFor="let meal of meals" size="6">
        <!--<img [src]="meal.strMealThumb" [alt]="meal.strMeal" />-->
        <ion-img [src]="meal.strMealThumb" [alt]="meal.strMeal"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
